.links {
  text-align: right;
}

.links #imagesearchlink,
.links #advancedsearchlink,
.links #searchlink {
  margin-right: 15px;
  text-decoration: none;
  color: #212121;
  font-family: "Roboto";
  font-size: 14px;
}

.index .logo,
.image .logo {
  display: block;
  max-width: 26%;
  height: auto;
  margin: auto;
  padding-top: 14%;
  padding-bottom: 2%;
}

.advanced .logo {
  max-width: 7%;
  height: auto;
  margin-left: 1%;
  margin-top: 1%;
}

.index .search,
.image .search {
  text-align: center;
}

.index .search #searchform,
.image .search #searchform {
  display: inline-box;
}

.index .search #searchbox,
.image .search #searchbox {
  width: 550px;
  height: 40px;
  border-radius: 25px;
  border-style: solid;
  border-width: 1.3px;
}

.index .search #searchbox:hover,
.image .search #searchbox:hover {
  border-style: outset;
  border-width: 1px;
  -webkit-box-shadow: 0 0 9px -3px #a5a5a5;
          box-shadow: 0 0 9px -3px #a5a5a5;
}

.index .search .searchbuttons,
.image .search .searchbuttons {
  padding-top: 30px;
}

.index .search .searchbuttons #searchbutton,
.index .search .searchbuttons #luckybutton,
.index .search .searchbuttons #imagesearchbutton,
.image .search .searchbuttons #searchbutton,
.image .search .searchbuttons #luckybutton,
.image .search .searchbuttons #imagesearchbutton {
  width: 125px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
  background-color: #f8f9fa;
  font-family: "Roboto";
  color: #212121;
  font-size: 13px;
}

.index .search .searchbuttons #searchbutton,
.image .search .searchbuttons #searchbutton {
  margin-right: 12px;
}

.index .search .searchbuttons #imagesearchbutton,
.image .search .searchbuttons #imagesearchbutton {
  width: 170px;
}

.index .search .searchbuttons #searchbutton:hover,
.index .search .searchbuttons #luckybutton:hover,
.index .search .searchbuttons #imagesearchbutton:hover,
.image .search .searchbuttons #searchbutton:hover,
.image .search .searchbuttons #luckybutton:hover,
.image .search .searchbuttons #imagesearchbutton:hover {
  cursor: pointer;
  border-style: outset;
  border-width: 1px;
  -webkit-box-shadow: 0 2.2px 2px -2px grey;
          box-shadow: 0 2.2px 2px -2px grey;
}

.advanced .searchboxes {
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 400;
  margin-top: 6%;
  margin-left: 3.5%;
  margin-right: 13%;
}

.advanced .searchboxes label {
  float: left;
  width: 100%;
  margin-bottom: 0px;
}

.advanced .searchboxes input[type="text"] {
  float: right;
  width: 50%;
  height: 30px;
  padding: 4px 20px;
  margin: 6% 0;
  margin-top: -2.5%;
  margin-right: 30%;
  border: 1px solid #ccc;
  border-radius: 1.2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.advanced #searchbutton {
  text-align: bottom;
  width: 12%;
  height: 30px;
  margin-left: 50%;
  margin-bottom: 2%;
  background-color: #4481e2;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 12.2px;
  color: white;
  border-style: none;
  border-radius: 1.5px;
}

.advanced #searchbutton:hover {
  background-color: #4077ca;
}

.advanced #advancedheading {
  margin-top: 4%;
  margin-left: 3.5%;
  color: #d93025;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
}

.advanced #line {
  margin-top: 2%;
  margin-left: -0.75%;
  margin-right: -0.75%;
  max-width: 101.37%;
  height: 0.8px;
  background-color: #ebebeb;
  border-style: none;
}

.advanced #findpages {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: #4b3e37;
  margin-top: 4.5%;
  margin-left: 3.5%;
}
/*# sourceMappingURL=styles.css.map */