$font: "Roboto";
// Links
.links {
  text-align: right;

  #imagesearchlink,
  #advancedsearchlink,
  #searchlink {
    margin-right: 15px;
    text-decoration: none;
    color: #212121;
    font-family: $font;
    font-size: 14px;
  }
}

// Logos
.index .logo,
.image .logo {
  display: block;
  max-width: 26%;
  height: auto;
  margin: auto;
  padding-top: 14%;
  padding-bottom: 2%;
}
.advanced .logo {
  max-width: 7%;
  height: auto;
  margin-left: 1%;
  margin-top: 1%;
}

// Search Attributes
.index .search,
.image .search {
  text-align: center;

  #searchform {
    display: inline-box;
  }

  #searchbox {
    width: 550px;
    height: 40px;
    border-radius: 25px;
    border-style: solid;
    border-width: 1.3px;
  }
  #searchbox:hover {
    border-style: outset;
    border-width: 1px;
    box-shadow: 0 0 9px -3px rgb(165, 165, 165);
  }

  .searchbuttons {
    padding-top: 30px;

    #searchbutton,
    #luckybutton,
    #imagesearchbutton {
      width: 125px;
      height: 40px;
      border-style: none;
      border-radius: 5px;
      background-color: #f8f9fa;
      font-family: $font;
      color: #212121;
      font-size: 13px;
    }
    #searchbutton {
      margin-right: 12px;
    }
    #imagesearchbutton {
      width: 170px;
    }
    #searchbutton:hover,
    #luckybutton:hover,
    #imagesearchbutton:hover {
      cursor: pointer;
      border-style: outset;
      border-width: 1px;
      box-shadow: 0 2.2px 2px -2px grey;
    }
  }
}
.advanced .searchboxes {
  font-family: $font;
  font-size: 13px;
  font-weight: 400;
  margin-top: 6%;
  margin-left: 3.5%;
  margin-right: 13%;

  label {
    float: left;
    width: 100%;
    margin-bottom: 0px;
  }

  input[type="text"] {
    float: right;
    width: 50%;
    height: 30px;
    padding: 4px 20px;
    margin: 6% 0;
    margin-top: -2.5%;
    margin-right: 30%;
    border: 1px solid #ccc;
    border-radius: 1.2px;
    box-sizing: border-box;
  }
}

.advanced #searchbutton {
  text-align: bottom;
  width: 12%;
  height: 30px;
  margin-left: 50%;
  margin-bottom: 2%;
  background-color: #4481e2;
  font-family: $font;
  font-weight: 600;
  font-size: 12.2px;
  color: white;
  border-style: none;
  border-radius: 1.5px;
}
.advanced #searchbutton:hover {
  background-color: #4077ca;
}

// Advanced Search Heading
.advanced #advancedheading {
  margin-top: 4%;
  margin-left: 3.5%;
  color: #d93025;
  font-family: $font;
  font-size: 20px;
  font-weight: 400;
}
.advanced #line {
  margin-top: 2%;
  margin-left: -0.75%;
  margin-right: -0.75%;
  max-width: 101.37%;
  height: 0.8px;
  background-color: #ebebeb;
  border-style: none;
}
.advanced #findpages {
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  color: #4b3e37;
  margin-top: 4.5%;
  margin-left: 3.5%;
}
